h2 {
    margin-top: 20px;
}

.input {
    display: inline-block;
    width: 50%;
    height: 300px;
    border: 1px solid #aaa;
    vertical-align: middle;
    padding: 60px 5% 0;
}

.inputBoxWrap {
    position: relative;

}


.input .inputBox {
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.input .alert {
    position: absolute;
    font-size: 12px;
    color: red;
}

.input .icon {
    position: absolute;
    top: 13px;
    right: 10px;
    color: #aaa;
}

.input .icon.right {
    color: green !important;
}