.input {
    display: inline-block;
    width: 50%;
    height: 300px;
    border: 1px solid #aaa;
    vertical-align: middle;
    padding: 60px 5% 0;
}

.inputBoxWrap {
    position: relative;

}

.input .inputBox {
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.input .icon {
    position: absolute;
    top: 18px;
    right: 10px;
    color: #aaa;
}
.input .icon.right{
    color: green !important;
}